.pptpage-container {
  height: 100vh;
}

.control-panel {
  height: 5%;
  min-height: 30px;
  border-bottom: 1px solid #ddd;
  padding: 1px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
}

.control-panel-return-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 70%;
  margin: 3px;
  margin-left: 9px;
  margin-right: 4px;
}

.control-panel-button {
  cursor: pointer;
  height: 70%;
  margin: 3px;
  border-radius: 4px;
  border-color: transparent;
}

.export-button {
  margin-left: auto;
}

.ppt-container {
  display: flex;
  width: 100vw;
  height: 95%;
}

.slide-thumbnails-column {
  width: 19%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.slide-thumbnail {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.slide-thumbnail-number {
  margin-bottom: 80px;
  margin-right: 4%;
  margin-left: 4%;
}

.slide-preview-container {
  width: 84%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slide-preview-container.active {
  border: 2px solid #3a92d5;
}

.slide-preview {
  /* width and height follows a ppt 16:9 aspect ratio */
  width: 100%;
  padding-top: 56.25%; /* (9/16)*width-percentage(i.e. 100) */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.thumbnail-preview {
  text-align: center;
}

.thumbnail-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.thumbnail-title-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 27px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.thumbnail-subtitle {
  font-size: 12px;
  color: #666;
}

.thumbnail-subtitle-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  color: #5c5c5c;
  cursor: pointer;
  outline: none;
}

.slide-editor {
  width: 81%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  /* width and height follows a ppt 16:9 aspect ratio */
  width: 90%;
  padding-top: 50.625%; /* (9/16)*width-percentage(i.e. 90) */

  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.draggableBlock {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
  background: #f0f0f0;
}

.title-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 27px;
  text-align: center;
}

.subtitle-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  color: #5c5c5c;
}
