.sidebarContainer {
    margin-right: 10px;
    width: 210px;
}
  
.sidebarContainer.sidebar-open {
    width: 280px;
}
  
.sidebar {
    width: 250px;
    background-color: #FAFAFA;
    color: black;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    border: 1px solid #DCDCDC;
}
  
.sidebarContainer.sidebar-open .sidebar{
    transform: translate(0);
}
  
.sidebarToggleButton {
    margin: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: relative;
}

.sidebarAddNewNotesButton {
    margin: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 198px;
    margin-top: 23px;
}
  
.sidebarTopic {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    align-items: center;
}

.sidebarItem {
    width: 100%;
    display: flex;
    align-items: center;
}
  
.sidebarButton {
    padding: 13px 20px;
    font-size: 13.5px;
    color: black;
    background-color: #EEEEEE;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 7px;
    margin-left: 5%;
}

.sidebarOptionButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin-bottom: 3px;
}

.sidebarItem:hover .sidebarOptionButton {
    display: block;
}