body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffffef;
}

.startingPageContainer {
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  width: 300px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #333;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 22px;
}

.mainPageContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mainPageContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content-box {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mainPageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 28px 0px;
}

.mainPageSubFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachMenu {
  position: absolute;
  top: 666px;
  background-color: white;
  border: 1px solid #d1d0d0;
  border-radius: 6px;
  width: 300px;
  height: 90px;
}

.attachFileButtonContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid #edecec;
  border-radius: 6px;
}

.attachFileButton {
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.attachLinkButtonContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid #edecec;
  border-radius: 6px;
}

.attachLinkButton {
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.attachButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding-right: 11px;
}

.mainPageInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  width: 850px;
  height: 25px;
}

.mainPageSubmit-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 115px;
  height: 45px;
}

.mainPageSubmit-button:hover {
  background-color: #333;
}

.IntelliNotesContainer {
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  width: 1000px;
  height: 750px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}



.SectionOne {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}

.HeadingContainer {
  margin-bottom: 30px;
  margin-left: 30px;
  width: 350px;
}

.heading {
  font-size: 2;
}

.headingDescription {
  color: gray;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.firstImageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  margin-left: 100px;
}

.image {
  width: 280px;
  height: auto;
  object-fit: cover;
  margin-top: 12px;
}

.imageTitle {
  font-size: 1.5;
  padding-top: 5px;
  margin: 0;
}

.imageDescription {
  color: gray;
  margin: 5;
}



.SectionTwo{
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}

.secondImageContainer {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-left: 35px;
}

.secondImage {
  width: 280px;
  height: auto;
  object-fit: cover;
}

.subheadingContainer {
  width: 400px;
}

.subheading {
  font-size: 1.5;
  margin: 10px 0 5px 0;
}

.subheadingDescription {
  color: gray;
}

.multipleChoiceSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.multipleChoiceQuestionContainer {
  margin-bottom: 40px;
  margin-left: 35px;
  width: 490px;
  border: 2px dotted #b2b1b1;
  border-radius: 8px;
  margin-right: 10px;
  height: 100%;
}

.question {
  margin: 15px 10px 5px 10px;
}

.questionDescription {
  color: gray;
  margin-left: 10px;
}

.multipleChoiceAnswersContainer {
  display: flex;
  flex-direction: column;
}

.answerOptions {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.044);
  border: 1.2px solid rgba(0, 0, 0, 0.826);
  border-radius: 8px;
  cursor: pointer;
  width: 205px;
  height: 45px;
}

.longQuestionSection {
  background-color: rgba(0, 0, 0, 0.044);
  border-radius: 8px;
}

.longQuestionContainer {
  width: 690px;
  margin-left: 10px;
  margin-top: 15px;
  height: 100px;
}

.longQuestionAnswersContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.longQuestionInput {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 15px;
  width: 400px;
  height: 35px;
}

.submitLongAnswerButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.044);
  border: 1.5px dotted rgb(10, 192, 10);
  border-radius: 8px;
  cursor: pointer;
  width: 115px;
  height: 37px;
}


.sidebarContainer {
  margin-right: 10px;
  width: 210px;
}

.sidebarContainer.sidebar-open {
  width: 280px;
}

.sidebar {
  width: 220px;
  background-color: #FAFAFA;
  color: black;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  border: 1px solid #DCDCDC;
  }

.sidebarContainer.sidebar-open .sidebar{
  transform: translate(0);
}

.sidebarToggleButton {
  margin: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.sidebarTopic {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
}

.sidebarButton {
  padding: 10px 20px;
  font-size: 12px;
  color: black;
  background-color: #EEEEEE;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
  margin-bottom: 7px;
}



.UserTabContainer {
  margin-left: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.UserTabContainer.sidebar-open {
  width: 130px;
}

.userTabButton {
  margin: 20px 20px 5px 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.editSectionButtonContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 12px;
}

.editSectionButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  color: grey;
}